[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = git@github.com:Scott-D-Hodgson/hugo-theme-bootstrap
[submodule "content/how-to/raspberry-pi"]
	path = content/how-to/raspberry-pi
	url = git@github.com:Scott-D-Hodgson/Raspberry-Pi
